.login_div{
    min-height: 51.3vh;
}
.footer p{
    margin: 0px;
}
.dashboard_container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar_container .nav-item{
    color: rgb(42 185 191) !important;
}
.sidebar_container .nav-item a{
    color: rgb(42 185 191) !important;
}
.register_div{
    min-height: 51.3vh;
}
.btn-blue{
    background-color: rgb(42 185 191) !important;
    border: rgb(42 185 191) !important;
}
.stepper-container .active{
    background-color: grey !important;
}

.stepper-container .completed{
    background-color: rgb(58, 58, 58) !important;
}
.aggrement-input{
    margin-right: 8px;
}
.loading-container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.patient-add-details{
    text-align: right;
}
.mr-5{
    margin-right: 5px;
}